/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
}

.circle-container {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("cat.png");
  background-size: cover;
  background-position: center;
}

.circle-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-button1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle-button2 {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.circle-button3 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle-button4 {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
