body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.outer {
  width: 800px;
  height: 400px;
  background-color: palevioletred;
}

.inner {
  width: 200px;
  height: 150px;
  background-color: lightblue;
  /* margin-bottom: 50px; */
  line-height: 150px;
  /* padding: 10px; */
  border: 15px solid brown;
  flex-shrink: 0;
}

.flex-outer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: auto;
}

.grid-outer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: auto;
  overflow-y: auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.grid-inner {
  align-self: center;
  justify-self: center;
}
