/* Styling Page */

/* When deciding on fonts and colours used I want it to be playful, animal theme, childish and fun.*/

/* Zoo like font, to keep in theme by remaining fun, bright and intriguing */

body {
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: rgb(254, 213, 110);
}

section {
  padding-top: 2rem;
  font-weight: bolder;
}

/* Title */
h1 {
  font-family: "Honk", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 90px;
}
/* Introduction */
h2 {
  font-family: "Poiret One";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 20px;
}

/* "Australian Animals", "Tracks" */
h3 {
  font-family: "Poiret One";
  font-weight: bolder;
  font-style: normal;
  text-align: start;
  font-size: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 8px;
  text-align: center;
  font-family: "Poiret One";
  font-size: 20px;
  padding-bottom: 2rem;
}

img {
  width: 200px;
  height: auto;
  justify-content: center;
  align-items: center;
}

hr {
  border-width: 0.2rem;
}

/* Drop boxes + images */

.container {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 10px;
  justify-items: center;
}

.draggable {
  width: 100px;
  height: 100px;
  cursor: grab;
  user-select: none;
}

.draggables-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.draggable img {
  max-width: 3cm;
  max-height: 6cm;
}

.dropzone {
  width: 150px;
  height: 200px;
  border: 2px dashed #e78e8e;
  display: flex;
  justify-content: center;
  background-color: #defdac;
  text-align: center;
  padding: 20px;
}

.dropzone.over {
  border-color: #a56767;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(253, 165, 234);
  border: 2px solid #67a0ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-family: "Poiret One";
  font-weight: bolder;
  font-style: normal;
  text-align: start;
  font-size: 30px;
}

.hidden {
  display: none;
}

button {
  font-family: "Poiret One";
  font-weight: bolder;
  font-style: normal;
  text-align: start;
  font-size: 20px;
}

.trails {
  width: 1100px;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.boxes {
  margin-top: 150px;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.Echidnacontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  /* height: 50px; */
}

.boxEch {
  background-color: lightblue;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.Kangaroocontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  /* height: 50px; */
}

.boxKang {
  background-color: rgb(207, 166, 249);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.Wombatcontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  /* height: 50px; */
}

.boxWom {
  background-color: rgb(252, 139, 152);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.Koalacontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  /* height: 50px; */
}

.boxKoa {
  background-color: rgb(153, 191, 141);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}
