/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  padding: 10px;
  cursor: nwse-resize;
  border: none;
}

button:hover {
  background-color: rgb(117, 58, 36);
  /* scale: 0.95; */
}

.inner {
  background-color: coral;
  padding: 10px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 20px;
  z-index: 1;
}
