body {
  background-color: rgb(105, 100, 237);
  display: grid;
  grid-template-columns: 1fr 1fr; /* add two columns */
  grid-template-rows: 1fr 1fr; /* add two rows */
  height: 100vh; /* use entire height */
  width: 100vw; /* use entire width */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  justify-content: center;
  /* make both justify content and align items center to center the text in the box */
  align-items: center;
}

.yellow-box {
  background-color: #d9fe51;
  color: #7a3ce3;
}

.blue-box {
  background-color: #91f7fd;
  color: #ea336f;
}

.red-box {
  background-color: #ea336f;
  color: #91f7fd;
}

.purple-box {
  background-color: #7a3ce3;
  color: #d9fe51;
}
/* table,
tr {
  border: 1px;
  border-collapse: collapse;
  width: 100% height 100%;
  text-align: center;
  text-size-adjust: 200px;
} */

a {
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid black;
  font-size: 3rem; /* to make the text bigger */
  font-family: comic sans MS;
}

a:hover {
  scale: 0.9;
}

h1 {
  font-size: 3rem; /* to make the text bigger */
  font-family: comic sans MS;
}
