body {
  text-align: center;
  /* display: flex; */
  max-width: 900px;
  margin: auto;
  background-color: bisque;
  color: black;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header,
main,
section {
  padding: 30px 0;
  /* margin: auto; */
}

img {
  /* min-width: 100%; */
  /* padding: 10px; */
  border: 2px solid goldenrod;
}

h1 {
  font-size: 2rem;
  padding-bottom: 10px;
}

.cover,
nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 10px;
  border: 1px dotted sienna;
  align-items: center;
}

.cover {
  min-height: 300px;
}

.cover > * {
  flex: 1;
  border: 1px dotted darkgoldenrod;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: end;
  align-items: flex-start;
  border: 4px dotted darkgoldenrod;
}

.portfolio > img {
  /* margin: auto; */
}

.my-para {
  width: 600px;
  margin: auto;
  border: 1px dashed coral;
}

.my-heading {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.image-container > img {
  margin: auto;
  /* width: 100%; */
}
