/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  /* background-color: #1a120b; */
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
}

.outer {
  /* border: 2px dashed #e5e5cb7a; */
  width: 400px;
  min-height: 200px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  height: 300px;
  animation: carouselMotion 5s linear infinite;
  transform-origin: center;
}
@keyframes carouselMotion {
  0% {
    transform: translateX(0) scale(1) translateZ(0);
    z-index: 2;
    opacity: 1;
  }

  25% {
    transform: translateX(-150px) scale(0.7);
    z-index: 1;
    opacity: 0.6;
  }

  50% {
    transform: translateX(0) scale(0.5);
    z-index: 0;
    opacity: 0.3;
  }

  75% {
    transform: translateX(150px) scale(0.7);
    z-index: 1;
    opacity: 0.6;
  }

  100% {
    transform: translateX(0) scale(1);
    z-index: 2;
    opacity: 1;
  }
}
