p {
  /* border: 1px solid brown; */
  /* min-height: 100px; */
  /* padding: 20px; */
  /* text-align: center; */
  /* margin-bottom: 20px; */
}

body {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  padding-bottom: 10px;
}

p {
  border: 1px solid rgb(31, 24, 26);
  min-height: 100px;
  width: 400px;
  padding: 20px;
  background-color: beige;
  margin-bottom: 30px;
}
