/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  /* max-width: 1000px; */
  justify-content: space-between;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  gap: 20px;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: scroll; */
}

#scroll-content {
  overflow: scroll;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  /* background-color: cornsilk; */
  scale: 0.95;
}

.inner {
  background-color: #d5cea3;
  padding: 10px;
  position: absolute;
  bottom: 0;
  /* top:0; */
  width: 100%;
  display: none;
  z-index: 1;
}
.inner p {
  color: #3c2a21;
}

#profile-menu.show {
  display: block;
}

header,
footer {
  width: 100%;
  background-color: cornsilk;
  min-height: 50px;
  position: relative;
}

#profile-button {
  position: absolute;
  right: 10px;
  height: 100%;
  padding: 0px 20px;
  /* padding: 20px; */
}

#profile-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  padding: 0px 20px;
  background-color: cornsilk;
  padding: 10px;
  cursor: pointer;
  min-width: 94px;
  color: black;
  display: none;
  z-index: 1;
}

#profile-menu ul > * {
  padding: 10px;
  border-bottom: 1px solid black;
  list-style: none;
}

#profile-menu ul > *:hover {
  background-color: bisque;
}

.long-text {
  width: 700px;
  height: 100px;
  /* overflow: scroll; */
}

/* .show {
  display: block;
} */

#slides-container {
  display: flex;
  gap: 10px;
  overflow: scroll;
  margin: auto;
}

.slides {
  width: 100vw;
  height: 100vh;
  border: 2px dashed #e5e5cb7a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.navigation {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  min-height: 100px;
  /* background-color: bisque; */
}
