body {
  display: flex;
  margin: 0 auto;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "VT323", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(57, 35, 24);
  background-image: url("rain.gif");
  background-size: cover;
  font-size: 1.4rem;
  animation: fadeIn 2s ease;
  /* height: 100vh; */
}

img {
  /* padding: 10px; */
  margin-bottom: 10px;
}

a {
  color: rgb(202, 151, 122);
}

.double-border {
  border: 3px groove rgba(65, 41, 27, 0.14);
  border-radius: 16px;
}

video {
  width: 800px;
  /* width: 100%; */
  height: auto;
  border-radius: 12px;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}
.main-screen,
#setup,
.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10px; */
}

.main-screen,
#setup {
  /* background-color: antiquewhite; */
  padding: 10px;
  width: 100%;
  flex-direction: column;
}
#quote {
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 1.2em;
  text-align: center;
  /* margin: 15px 0; */
  color: #555;
  font-style: italic;
  width: 80%;
}
#quote.show {
  opacity: 1;
}

.controls {
  gap: 10px;
  padding: 10px;
}

.playlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  padding: 10px;
  border-bottom: 3px groove rgba(65, 41, 27, 0.44);
}

#status,
#setup {
  border-bottom: 3px groove rgba(65, 41, 27, 0.44);
  width: 100%;
  text-align: center;
  padding: 10px;
}

main {
  background: rgba(255, 255, 255, 0.2); /* semi-transparent */
  backdrop-filter: blur(8px);
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

#setup {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#setup.fade-out {
  opacity: 0;
  pointer-events: none; /* prevent interaction after fading */
}

#progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: gray;
}
#progress-bar {
  width: 0%;
  display: block;
  background-color: coral;
  height: 100%;
  transition: width 0.2s ease;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
  color: black;
  /* color: rgb(202, 151, 122); */
  border-radius: 12px;
  background-color: rgba(250, 235, 215, 0.588);
  border-bottom: 2px groove rgb(65, 41, 27);
}

button:hover {
  scale: 0.9;
  background-color: rgba(250, 235, 215, 0.25);
}

input {
  padding: 10px;
  font-size: 1.2rem;
  color: black;
  /* color: rgb(202, 151, 122); */
  border-radius: 12px;
  background-color: rgba(250, 235, 215, 0.588);
  border-bottom: 2px groove rgb(65, 41, 27);
}

#likes {
  font-size: 2.2rem;
  color: rgb(168, 55, 55);
}

#timer {
  font-size: 4rem;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
