body {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.6rem;
  padding-bottom: 20px;
}

p {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
}

.new-border {
  border: 1px solid white;
}

.round {
  border-radius: 50%;
}

.vcenter {
  line-height: 160px;
}

img {
  display: block;
}
