/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  height: 100%;
  /* margin: auto; */
  /* max-width: 1000px; */
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
}

.slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 7rem;
  height: 100vh;
  width: 100%;
  opacity: 0; /* Hide slides by default */
  transition: opacity 0.5s background-color 0.5s; /* Smooth opacity transition */
}

#slide1 {
  background-color: lightsalmon;
}

#slide2 {
  background-color: lightseagreen;
}

#slide3 {
  background-color: lightpink;
}

.active {
  opacity: 1;
} /* Show active slide */
